<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <h3>Tarefas</h3>

  <label for="number">Numero</label>
  <input id="number_task" type="text" name="number" />
  <label for="name">Tarefa</label>
  <input id="name_task" type="text" name="name" />

  <%= link_to 'Adicionar', '', :onclick => 'add_task()', :remote => true %>

  <table id="tasks" border="1" style="margin: 10px 0px 10px 0px;">
    <thead>
      <tr>
        <th colspan="1">Numero</th>
        <th colspan="3">Nome</th>
      </tr>
    </thead>
    <tbody>
      <% @project.tasks.each.with_index do |t,i| %>
        <%= build_tasts_table(t, i) %>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
