<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>

  <table id="tasks" border="1" style="margin: 10px 0px 10px 0px;">
    <thead>
      <tr>
        <th>Numero</th>
        <th>Nome</th>
      </tr>
    </thead>
    <tbody>
      <% @project.tasks.each do |t| %>
        <td><%= t.number %></td>
        <td><%= t.name %></td>
      <% end %>
    </tbody>
  </table>

</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
